@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="container my-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="text-center mb-3">
        <img src="~/img/Bacon.jpg" class="img-fluid rounded" alt="Joel at Baconsale" style="max-width: 40%;" onclick="window.location='https://baconsale.com/';" style="cursor:pointer;">
    </div>

    <p class="text-center mb-3">Joel Hilton is not just a film aficionado; he's also a regular performer at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>, bringing laughter and joy to audiences. Beyond his comedic talents, Joel dives deep into film and pop culture through his weekly podcast, <a href="https://baconsale.com/" target="_blank">Baconsale</a>.</p>

    <p class="text-center">Click on the image above to explore more about Baconsale and join Joel on his cinematic and comedic journey.</p>
</div>
