@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <img src="~/img/Joel.jpg" class="img-fluid rounded-circle mb-3" alt="Joel Hilton" style="max-width: 50%;">
            <h1 class="display-4">The Joel Hilton Film Collection</h1>
            <p class="lead">Explore the curated world of films handpicked by Joel Hilton. Dive into a collection where each movie is a piece of art, reflecting stories that are worth telling and remembering.</p>
        </div>
    </div>
</div>
