@model Mission06_LastName.Models.Movie

@{
    ViewData["Title"] = "Add New Movie";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-3">
    <form asp-action="Apply" method="post">
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" asp-for="Title" required>
        </div>
        <div class="form-group">
            <label for="Year">Year</label>
            <input type="number" class="form-control" id="Year" asp-for="Year" min="1888" max="2100" required>
        </div>
        <div class="form-group">
            <label for="Director">Director</label>
            <input type="text" class="form-control" id="Director" asp-for="Director">
        </div>
        <div class="form-group">
            <label for="Rating">Rating</label>
            <select class="form-control" id="Rating" asp-for="Rating" required>
                <option>G</option>
                <option>PG</option>
                <option>PG-13</option>
                <option>R</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Edited">Edited</label>
            <input type="number" class="form-control" id="Edited" asp-for="Edited" min="0" max="1" required>
        </div>

        <div class="form-group">
            <label for="CopiedToPlex">CopiedToPlex</label>
            <input type="number" class="form-control" id="CopiedToPlex" asp-for="CopiedToPlex" min="0" max="1" required>
        </div>

        <div class="form-group">
            <label for="LentTo">Lent To</label>
            <input type="text" class="form-control" id="LentTo" asp-for="LentTo">
        </div>
        <div class="form-group">
            <label for="Notes">Notes</label>
            <input type="text" class="form-control" id="Notes" asp-for="Notes" maxlength="25">
        </div>
        <button type="submit" class="btn btn-primary">Add Movie</button>
    </form>
</div>

